html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
 background-color: #AAAAAA
}

.store-name{
  height: 3.20rem;
}

.image_text{
  position: relative;
  width: 100%;
}

.image_text h4{
   position: absolute;
   bottom: 1rem;
   left: 0;
   width: 100%;
}

.image_text h5{
   position: absolute;
   bottom: 1rem;
   left: 0;
   width: 100%;
}

h4 span {
  color: white;
  font: bold  Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: .13rem;
}

h5 span {
  color: white;
  font: bold  Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: .13rem;
}

h4 span.spacer {
   padding:0 .07rem;
}

h5 span.spacer {
   padding:0 .07rem;
}
