html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
 background-color: #AAAAAA
}

.store-name{
  height: 3.20rem;
}

.image_text{
  position: relative;
  width: 100%;
}

.image_text h4{
   position: absolute;
   bottom: 1rem;
   left: 0;
   width: 100%;
}

.image_text h5{
   position: absolute;
   bottom: 1rem;
   left: 0;
   width: 100%;
}

h4 span {
  color: white;
  font: bold  Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: .13rem;
}

h5 span {
  color: white;
  font: bold  Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: .13rem;
}

h4 span.spacer {
   padding:0 .07rem;
}

h5 span.spacer {
   padding:0 .07rem;
}

.box_text{
  padding: .67rem;
}

@font-face {
  font-family: 'iconfont';  /* project id 392550 */
  src: url('https://at.alicdn.com/t/font_392550_uv9158g69f3whfr.eot');
  src: url('https://at.alicdn.com/t/font_392550_uv9158g69f3whfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_392550_uv9158g69f3whfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_392550_uv9158g69f3whfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_392550_uv9158g69f3whfr.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:.21rem;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.strong-text{
  color: #FFDC00;
  float:right;
  position:relative;
}

.store-text{
  color:#111111;
}

.class-text{
  color: white;
  font-size: 1.0rem;
}

.image-stack{
  display: block;
}
